#main {
  background: #202833;
  height: 100vh;
}

hr {
  width: 40%;
}
center > h1 {
  margin-bottom: 20px;
  margin-top: 170px;
  font-family: arial;
  color: #19bd9b;
  font-weight: bold;
}

#city, #temperature, #climate {
  color: white;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
}

#temperature {
  font-size: 40px;
  color: #19bd9b;
}


#temperature:hover {
  cursor: pointer;
}

@media (max-width: 783px) {
  h1 {
    margin-top: 40px;
  }
}
